@media screen and (max-width: 990px){
    .nav-item::after{
        left: 0;
    }
}

@media screen and (max-width: 500px) {
    .section-title h2 , h1{
        font-size: 2rem!important;
    }
    #animated-text{
        font-size: 1.5rem !important;
    }
    
}